<h1>Animes</h1>

<% @shows.each do |show| %>
 <td><%= show.title %></td><br>

<td><%= link_to 'Details', show %></td><br>


<% end %>
</tbody>
</table>
<br>
<%= link_to 'New Anime', new_show_path %>
<%= button_to "Log Out", logout_path, method: 'delete' %>