<h1> Your Reviews </h1>

  <% @reviews.each do |review| %>

    

    <% @show.title %>
  <h2>Comment: <%= review.comment %></h2>
  <h2>Rating: <%= review.rating %></h2>
  <%= link_to "#{review.comment}", review_path(review) %>
 
  <% end %>
  
  <% link_to 'Back', shows_path(@show) %>

